---
layout: compress
--- 

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body ontouchstart="">

    {% include header.html %}

<div style="position:absolute; width:100%; height:100%; z-index:3; left: 0px; top: 530px; backgroud-color:000;"> 

    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://cdn.jsdelivr.net/gh/kylehao/skyhj.com/js2/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/kylehao/skyhj.com/js2/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/kylehao/skyhj.com/js2/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
<p>Copyright @ <a href="http://660000.xyz">ÌýËÉ¸ó</> 2021</p>
</div>
  </body>
</html>
